.title {
  margin-bottom: 20px;
  margin-top: 16px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
}

.main {
  display: flex;
  justify-content: space-between;
}

.firstColumn {
  width: 722px;
}

.secondColumn {
  margin-left: auto;
}

.reviewAside {
  margin-bottom: 82px;
}
