.wrapper {
  display: grid;
  grid-template-columns: auto 224px;
  grid-column-gap: 28px;
  margin-top: 32px;
  margin-bottom: 80px;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-right: 37px;
  position: relative;
}

.products::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 1px;
  height: calc(100% - 65px);
  background-color: #e6e8eb;
}

.product {
  padding-top: 18px;
  margin-bottom: 65px;
}

.product:not(:nth-child(4n)) {
  padding-right: 16px;
  border-right: 1px solid #e6e8eb;
}

.product:not(:nth-child(4n + 1)) {
  padding-left: 16px;
}

.product:nth-child(4n + 1)::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 37px);
  height: 1px;
  transform: translateY(32px);
  background-color: #e6e8eb;
}

.product.noBottomBorder::after {
  display: none;
}
.moreButton {
  display: block;
  margin: -25px auto 18px auto;
  width: 417px;
  font-weight: 700;
  color: var(--blue-500);
  background-color: var(--white);
  border: 1px solid var(--blue-500);
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  padding: 0 24px;
}

.moreButton:hover {
  background-color: var(--blue-300);
}
