.wrapper {
  margin-top: 12px;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 20px;
  margin-top: 16px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.titleLink {
  color: #07c;
  font-size: 14px;
  line-height: 20px;
}

.titleLink:hover {
  color: #006ebd;
}

.chips {
  overflow: hidden;
  margin-bottom: 32px;
}

.contentContainer {
  display: grid;
  grid-template-columns: auto 224px;
  grid-column-gap: 28px;
}
