.container {
  margin-top: 202px;
  margin-bottom: 32px;
}

.icon {
  display: block;
  margin: 0 auto;
}

.description {
  width: 260px;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #a0a1a3;
}

.link {
  color: #1a1a1a;
  border-bottom: 1px solid;
  height: 1.334em;
}
