.button {
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
  height: 36px;
  border: 1px solid #dcdde0;
  padding: 7px 30px 7px 12px;
  border-radius: 2px;
  color: #1a1a1a;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}
.buttonActive {
  color: #a0a1a3;
  background-color: #f7f8fa;
  border: 1px solid #f7f8fa;
}

.button:hover:not(.buttonActive) {
  border: 1px solid #07c;
  color: #07c;
}

.button:after {
  content: ' ';
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-2px);
  margin-left: 10px;
  border: 4px solid transparent;
  border-top: 5px solid;
}

.buttonActive:after {
  border-top: 4px solid transparent;
  border-bottom: 5px solid;
  transform: translateY(-7px);
}

.body {
  position: absolute;
  left: calc(224px - 636px);
  z-index: 1;
  background-color: #fff;
  padding: 18px 0 12px 12px;
  border-radius: 6px;
  width: 636px;
  box-shadow:
    0 4px 20px rgba(6, 10, 13, 0.12),
    0 1px 4px rgba(6, 10, 13, 0.08);
  height: max-content;
}

.searchWrapper {
  width: 200px;
  height: 32px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #c8c9cc;
  border: 1px solid #e6e8eb;
  border-radius: 40px;
}

.searchWrapper:focus-within {
  color: #1a1a1a;
}

.searchIconContainer {
  margin: 0 5px;
  display: flex;
}

.input {
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  height: 100%;
}

.clearBtn {
  display: flex;
  cursor: pointer;
  padding: 0 5px;
  color: #e6e8eb;
  visibility: hidden;
}

.visible {
  visibility: visible;
}
