.container {
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  -webkit-appearance: none;
  min-height: 10px;
}
.mediumThumb::-webkit-scrollbar {
  width: 7px;
}
.thinThumb::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.5);
}

.lighter::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
}

.light::-webkit-scrollbar-thumb {
  background-color: var(--gray-500);
}

.dark::-webkit-scrollbar-thumb {
  background-color: var(--gray-600);
}

.darker::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
}
.lighterHover::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-400);
}

.lightHover::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-500);
}

.darkHover::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-600);
}

.darkerHover::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-700);
}
