.container {
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.5);
}
