.title {
  margin-bottom: 20px;
  margin-top: 16px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
}

.mobileTitle {
  display: none;
  font-weight: 400;
  margin: 20px 0 4px;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 992px) {
  .title {
    display: none;
  }

  .mobileTitle {
    display: block;
  }
}
