.imgContainer {
  display: flex;
  justify-content: center;
  margin: 0 0 24px;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 99%;
  margin-bottom: 38px;
}

.saveButton {
  display: block;
  height: 48px;
  padding: 0 24px;
  margin: 32px auto 24px auto;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--blue-500);
  border: 1px solid var(--blue-500);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  font-weight: 700;
  cursor: pointer;
}

.saveButton:disabled {
  color: var(--gray-600);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
}

.locations {
  position: absolute;
  z-index: 1;
  padding: 12px 0;
  box-shadow:
    0 2px 8px rgba(41, 44, 51, 0.04),
    0 8px 16px rgba(41, 44, 51, 0.12);
  border-radius: 6px;
  background-color: #fff;
  width: 100%;
  top: 1px;
}

.triggerContainer {
  position: relative;
}

.errorMessage {
  position: absolute;
  display: none;
  align-items: center;
  margin-top: 5px;
  color: var(--black-500);
  font-family: var(--base-font-family);
  font-size: 12px;
  line-height: 16px;
}

.visible {
  display: flex;
}

.errorIcon {
  margin-right: 4px;
}

.highlight {
  font-weight: 700;
}
