.tabContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-300);
  margin-bottom: 32px;
}

.subscribeToPriceButton {
  display: flex;
  cursor: pointer;
  color: var(--blue-500);
  font-size: 15px;
  line-height: 22px;
}

.subscribeToPriceButton:hover {
  color: var(--blue-800);
}

@media screen and (max-width: 992px) {
  .tabContainer {
    display: none;
  }
}
