.wrapper {
  margin-bottom: 24px;
  position: relative;
  max-width: max-content;
}

.button {
  display: block;
  position: relative;
  width: max-content;
  height: 36px;
  border: 1px solid #dcdde0;
  padding: 7px 30px 7px 12px;
  border-radius: 2px;
  color: #1a1a1a;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}
.buttonActive {
  color: #a0a1a3;
  background-color: #f7f8fa;
  border: 1px solid #f7f8fa;
}

.button:hover:not(.buttonActive) {
  border: 1px solid #07c;
  color: #07c;
}

.button:after {
  content: ' ';
  position: absolute;
  top: 50%;
  transform: translateY(-2px);
  margin-left: 10px;
  border: 4px solid transparent;
  border-top: 5px solid;
}

.buttonActive:after {
  border-top: 4px solid transparent;
  border-bottom: 5px solid;
  transform: translateY(-7px);
}

.options {
  position: absolute;
  z-index: 1;
  padding: 12px 0;
  box-shadow:
    0 2px 8px rgba(41, 44, 51, 0.04),
    0 8px 16px rgba(41, 44, 51, 0.12);
  border-radius: 6px;
  background-color: #fff;
  width: 100%;
}
