.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}
.label {
  display: block;
  position: relative;
  max-width: 108px;
}

.label:focus-within::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0077cc;
}

.labelText {
  display: block;
  margin-bottom: 6px;
  color: #b0b3b8;
  font-size: 12px;
  line-height: 18px;
}

.input {
  padding: 9px 12px 11px;
  border: 1px solid var(--gray-300);
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-500);
  background: transparent;
  caret-color: transparent;
  cursor: pointer;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.optionsContainer {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 101%;
  border-radius: 6px;
  background: white;
  box-shadow:
    0 2px 2px rgba(41, 44, 51, 0.04),
    0 4px 12px rgba(41, 44, 51, 0.12);
  padding: 10px 0;
}

.options {
}

.option {
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  padding: 4px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option:hover {
  background-color: var(--gray-100);
}

.activeOption {
  color: #b4b5b8;
}

.arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 11px;
  right: 7px;
  color: var(--blue-500);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .inputs {
    gap: 8px;
    padding-bottom: 20px;
  }

  .label {
    max-width: none;
    width: 50%;
  }
}
