.main {
  text-align: center;
  height: calc(100dvh - 178px);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d2dae9;
  margin-top: -40px;
}

.title {
  position: relative;
  font-size: 95px;
  margin: 0;
  color: white;
}

.description {
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.button {
  position: relative;
  background: var(--gradient);
  padding: 0 12px;
  border-radius: 20px;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  color: #fff;
  font:
    400 16px/2.5 Nunito,
    'Varela Round',
    Sans-serif;
  cursor: pointer;
}

.bubble {
  background: var(--gradient);
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
}

.bubble:before {
  content: '';
  background: var(--gradient);
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(#000, 0.15);
  position: absolute;
}

.bubble:nth-child(1) {
  top: calc(-3vh);
  left: 12vw;
  height: 22vmin;
  width: 22vmin;
}

.bubble:nth-child(1):before {
  width: 13vmin;
  height: 13vmin;
  bottom: -25vh;
  right: -10vmin;
}

.bubble:nth-child(2) {
  top: calc(2vh);
  left: 38vw;
  height: 10vmin;
  width: 10vmin;
}

.bubble:nth-child(2):before {
  width: 5vmin;
  height: 5vmin;
  bottom: -10vh;
  left: -8vmin;
}

.bubble:nth-child(3) {
  top: calc(-6vh);
  right: 30vw;
  height: 13vmin;
  width: 13vmin;
}

.bubble:nth-child(3):before {
  width: 3vmin;
  height: 3vmin;
  bottom: -15vh;
  left: -18vmin;
}

.bubble:nth-child(4) {
  top: calc(7vh);
  right: 18vw;
  height: 18vmin;
  width: 18vmin;
}

.bubble:nth-child(4):before {
  width: 7vmin;
  height: 7vmin;
  bottom: -10vmin;
  left: -15vmin;
}

.bubble:nth-child(5) {
  top: calc(42vh);
  right: 18vw;
  height: 28vmin;
  width: 28vmin;
}

.bubble:nth-child(5):before {
  width: 10vmin;
  height: 10vmin;
  bottom: 5vmin;
  left: -25vmin;
}
