.wrapper {
  padding-bottom: 20px;
}

.hasBottomBorder {
  border-bottom: 1px solid #e6e8eb;
  margin-bottom: 20px;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding: 0 24px;
  }
  .title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
  }

  .hasBottomBorder {
    border-bottom: 16px solid #f7f8fa;
  }
}
