.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.button {
  margin-left: 4px;
  color: var(--white);
  background-color: var(--pink-500);
  border: 1px solid var(--pink-500);
  padding: 7px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
