.section {
  display: flex;
  align-items: flex-start;
  min-width: 1090px;
}

.productsContainer {
  min-width: 706px;
}

.rightColumn {
  position: sticky;
  top: 32px;
  margin-left: 48px;
}

.product {
  margin-bottom: 20px;
}

.topBlock {
  display: flex;
  align-items: center;
  width: 100%;
}

.topBlock:has(.imgContainer:hover) .title {
  color: #a0a1a3;
}
.topBlock:has(.title:hover) .imgContainer {
  opacity: 0.3;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
}

.imgLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding-bottom: 2px;
  box-sizing: border-box;
  border-radius: 4px;
  background: linear-gradient(90.39deg, #941e94 -90.7%, #e52e6b 151.09%);
  transition: opacity 0.1s ease-in-out;
}

.imgContainer:hover {
  opacity: 0.3;
}

.titleWrapper {
  width: 282px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 22px;
  transition: 0.1s;
}

.title:hover {
  color: #a0a1a3;
}

.price {
  flex-grow: 1;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1a1a1a;
}

.priceDecimalPart {
  font-size: 16px;
  line-height: 22px;
}

.bottomBlock {
}

.buttonsWrapper {
  border-bottom: 1px solid #e6e8eb;
  margin: 4px 0 0 100px;
  display: flex;
  justify-content: flex-end;
  padding: 12px 0 16px;
}

.productButton {
  margin-left: 18px;
  display: inline-flex;
  align-items: center;
  color: var(--black-500);
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.productButton:hover {
  color: var(--pink-500);
}
