.button {
  z-index: 1;
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 0;
  top: -20px;
  right: 0;
  border-radius: 50%;
  color: var(--gray-600);
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.liked {
  color: var(--pink-500);
}

.liked:hover {
  background-color: var(--pink-300);
  border: 1px solid var(--pink-500);
}

.unliked:hover {
  background-color: var(--gray-100);
  color: var(--gray-600);
}
