.button {
  position: absolute;
  padding: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--pink-500);
  background-color: var(--white);
  border: 1px solid var(--pink-500);
  pointer-events: auto;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--pink-300);
    color: var(--pink-500);
  }
}

.left {
  left: -72px;
}
.right {
  right: -72px;
}

@media screen and (max-width: 1200px) {
  .left {
    left: -55px;
  }
  .right {
    right: -55px;
  }
}

@media screen and (max-width: 1100px) {
  .button {
    display: none;
  }
}
