.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-right: 37px;
  position: relative;
}

.products::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 1px;
  height: calc(100% - 65px);
  background-color: #e6e8eb;
}

.product {
  padding-top: 18px;
  margin-bottom: 65px;
}

.product:not(:nth-child(4n)) {
  padding-right: 16px;
  border-right: 1px solid #e6e8eb;
}

.product:not(:nth-child(4n + 1)) {
  padding-left: 16px;
}

.product:nth-child(4n + 1)::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 37px);
  height: 1px;
  transform: translateY(32px);
  background-color: #e6e8eb;
}

.product.noBottomBorder::after {
  display: none;
}
