.body {
  position: relative;
}

.chips {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chips::-webkit-scrollbar {
  display: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 33px;
  width: 100%;
  position: relative;
}

.productWrapper {
  margin-bottom: 65px;
}

.productWrapper:nth-child(5n + 1)::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  transform: translateY(32px);
  background-color: #e6e8eb;
}

.productWrapper.noBottomBorder::after {
  display: none;
}

.productWrapper.noBottomBorder,
.productWrapper.noBottomBorder ~ .productWrapper {
  margin-bottom: 0px;
}

.product {
  padding-top: 18px;
  height: 100%;
  position: relative;
}

.productWrapper:not(:nth-child(5n)) .product::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: -17px;
  width: 1px;
  height: 100%;
  background-color: #e6e8eb;
}

.moreButton {
  display: block;
  margin: 40px auto 0 auto;
  width: 417px;
  font-weight: 700;
  color: var(--blue-500);
  background-color: var(--white);
  border: 1px solid var(--blue-500);
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  padding: 0 24px;
}

.moreButton:hover {
  background-color: var(--blue-300);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
}

@media screen and (max-width: 992px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .productWrapper {
    margin-bottom: 49px;
  }

  .productWrapper:nth-child(5n + 1)::after {
    display: none;
  }

  .productWrapper:nth-child(2n + 1)::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    transform: translateY(24px);
    background-color: #e6e8eb;
  }

  .productWrapper:not(:nth-child(5n)) .product::after {
    display: none;
  }

  .productWrapper:not(:nth-child(2n)) .product::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: -17px;
    width: 1px;
    height: 100%;
    background-color: #e6e8eb;
  }

  .productWrapper.noBottomBorder::after {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .moreButton {
    width: 100%;
  }
}
