.button {
  margin-top: auto;
  width: 100%;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  height: 40px;
  color: var(--white);
  background-color: var(--pink-500);
  border: 1px solid var(--pink-500);
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
.buttonActive {
  color: var(--pink-500);
  background-color: var(--white);
  border: 1px solid var(--pink-500);
}
